.root{
    width: 100%;
    padding-top: 104px;
}

.containerNav{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.navigate{
    width: 100%;
    backdrop-filter: blur(16px);
    background-color: hsla(0,0%,100%,.6);
    box-shadow: inset 0 -1px 0 #f2f2f2;
    height: 80px;
    position: fixed;
    top: 58px;
    z-index: 2;
}


.sliderForm{
    background: var(--back-main);
    padding: 64px 0 80px;
}

.conteinerForm{
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}


/* Road VIP */

.roadVIP{
    background: var(--back-white);
    padding-top: 120px;
}

.roadVipContainer{
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.depositLocalContainer{    
    width: 1230px;
    padding: 110px 0 15px;
    margin: 0 auto;
}

.leadingContainer{
    width: 1230px;
    padding: 110px 0 15px;
    margin: 0 auto;
}

.faqContainer{
    width: 1230px;
    padding: 110px 0 15px;
    margin: 0 auto;
}