
.guide{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

/* Content */

.content{
    padding-top: 84px;
}

.title{
    font-size: 32px;
    font-weight: 700;
    color: var(--colortext-main);
    padding-bottom: 24px;
}

.subtitle{
    font-size: 16px;
    font-weight: 400;
    color: var(--noactive-color);
}

.qr__row{
    display: flex;
    align-items: center;
    padding: 32px 0 38px;
    gap: 15px;
}

.qr{
    width: 110px;
    height: 110px;
    pointer-events: none;
}

.info__qr__column{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title__qr{
    font-size: 12px;
    font-weight: 400;
    color: var(--noactive-color);
}

.os__qr{
    font-size: 16px;
    font-weight: 400;
    color: var(--colortext-main);
}

/* Btn row */

.btn__row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.card{
    width: 90px;
    height: 90px;
    background: var(--back-white);
    border: 1px solid #d5dae0;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: var(--colortext-main);
}


/* Image back */

.image__main{
    width: 686px;
    height: 475px;
    pointer-events: none;
}