.crypto__journey{
    margin-top: 64px;
    width: 100%;
    height: 200px;
    background: linear-gradient(96.76deg,rgba(255,247,230,.2) 13.68%,rgba(255,202,99,.2) 38.25%,rgba(255,240,208,.2) 81.97%),#fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    color: var(--colortext-main);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 226px;
    height: 40px;
    background: var(--color-accent);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: var(--colortext-main);
    cursor: pointer;
}