.root{
    max-width: 520px;
    border-radius: 16px;
    padding-bottom: 32px;
    background: var(--back-white);
}

.form{
    padding: 40px 32px 0;
}

.btn{
    margin-top: 32px;
    width: 456px;
    margin: 0 auto;
    background: var(--color-accent);
    padding: 14px 24px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    color: var(--colortext-main);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}