.root{
    padding-top: 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: var(--noactive-color);
    font-size: 14px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 24px;
}

.links{
    cursor: pointer;
    transition: color .4s ease;
}

.links.active{
    color: var(--color-accent);
    font-weight: 700;
    position: relative;
}

.links.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background: var(--color-accent);
    bottom: -22px;
    left: 0;
}

.links:hover{
    color: var(--color-accent);
    transition: color .4s ease;
}

.right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.arrow{
    width: 10px;
    height: 10px;
    color: var(--noactive-color);
    transform: rotate(-50deg);
}