.header{
    width: 100%;
    background: var(--blackback);
    padding: 14px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Logo & Nav */

.logo__nav__header__row{
    display: flex;
    align-items: center;
    gap: 48px;
}

.logo__header{
    width: 56.3px;
    height: 22px;
    cursor: pointer;
}

.navigation__header__ul__list{
    display: flex;
    align-items: center;
    gap: 24px;

    color: var(--header-text);
    font-size: 14px;
    transition: color .5s ease;
    cursor: pointer;
}
.header__main__li{
    position: relative;
}

.header__main__li:hover{
    color: var(--color-accent);
    transition: color .4s ease;
}


/* Avatar row */

.account__header__row{
    display: flex;
    align-items: center;
    gap: 27px;
}

.btn__deposit__header{
    background: var(--color-accent);
    color: var(--color-text);
    font-size: 14px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn__deposit__header:hover{
    background: #e7b249;
    transition: all .3s ease;
}

.avatar__icon__header{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
}

.bell__icon__header{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.dowloand__icon__header{
    width: 26px;
    height: 26px;
    cursor: pointer;
}

/* Hover img */

.bell__icon__header:hover{
    background-color: rgba(153, 151, 151, 0.5);
    border-radius: 2px;
    transition: all .3s ease;
}

.dowloand__icon__header:hover{
    background-color: rgba(153, 151, 151, 0.5);
    border-radius: 2px;
    transition: all .3s ease;
}

.avatar__icon__header:hover{
    transform: translate(-2px,-2px);
    transition: all .5s ease;
} 

/* Section reg log */

.btn__reg__log__row{
    display: flex;
    align-items: center;
    gap: 5px;
}

.button__log{
    width: 90px;
    height: 32px;
    color: var(--header-text);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    transition: all .4s ease;
    border-radius: 4px;
}
.button__log:hover{
    background: hsla(0,0%,100%,.06);
    color: var(--color-accent);
    transition: all .4s ease;
}

.btn__reg{
    width: 90px;
    height: 32px;
    background: var(--color-accent);
    color: var(--colortext-main);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
}