.root{
    overflow: hidden;
    position: absolute;
    top: 84px;
    right: 0;
    width: 320px;
    /* height: 325px; */
    background: var(--back-white);
    border-radius: 8px;
    border: 1px solid var(--back-btn);
    padding: 4px;
    box-shadow: var(--back-btn);
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease;
    height: 100px;
    z-index: 100;
}

.root.modal{
    pointer-events: all;
    opacity: 1;
    transition: all .5s ease;
    height: 325px;
}

/* Search */

.searchBox{
    margin: 8px 8px 12px;
    padding: 10px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 7px;
    background: var(--back-main);
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 1px 3px rgba(247, 166, 0, 0.2);
    transition: box-shadow .4s ease;
}

.searchBox:hover{
    box-shadow: 0 0 1px 3px rgba(247, 166, 0, 0.4);
    transition: box-shadow .4s ease;
}

.searchIcon{
    width: 18px;
    height: 18px;
    color: var(--noactive-color);
}

.input{
    background-color: transparent;
    color: var(--colortext-main);
    width: 100%;
}


/* Content */

.slider{
    height: 250px;
    padding-bottom: 8px;
}

.card{
    border-radius: 6px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
}

.card:hover{
    background: rgba(197, 197, 197, 0.3);
    transition: all .3s ease;
}

.name{
    font-size: 14px;
    font-weight: 600;
    color: var(--color-accent);
}

.subname{
    font-size: 12px;
    font-weight: 400;
    color: #adb1b8;
}


/* if empty */

.empty{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 25px;
    font-weight: 600;
    color: var(--noactive-color);
    user-select: none;
}