.root{
    width: 100%;
    padding-top: 100px;
    background: var(--back-main);
}

.container{
    background: var(--back-main);
}

.formFaq__row{
    padding: 40px 15px 80px;
    margin: 0 auto;
    max-width: 1230px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
}

.containerHistory{
    background: var(--back-white);
    padding: 80px 0;
}

.history{
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
}