.root{
    padding-bottom: 110px;
}

.title{
    color: var(--colortext-main);
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 60px;
}

.row{
    display: flex;
    align-items: flex-start;
    gap: 160px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.text{
    font-size: 18px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: color .4s ease;
}

.text:hover{
    color: var(--color-accent);
    transition: color .4s ease;
}


.link{
    color: var(--color-accent);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color .3s ease;
}

.link:hover{
    color: #ffc248;
    transition: color .3s ease;
}

.arrow{
    width: 14px;
    height: 14px;
    animation-name: linkArrow;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes linkArrow {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(7px);
    }
}