.company__show{
    width: 100%;
    height: 160px;
    background: url('../../../../img//mainPage/CompanyShow/Backround.png') 0 0, no-repeat;

    display: flex;
    align-items: center;
    gap: 50px;

    overflow: hidden;
}
.img{
    opacity: 0.5;
}

.img:hover{
    opacity: 1;
}